Clases_ML/.obsidian
bds_algoritmos_004_01.ipynb
bds_algoritmos_007_01.ipynb
bds_algoritmos_008_01.ipynb
Copy_of_bds_algoritmos_005_01.ipynb
Copy_of_bds_algoritmos_006_01.ipynb
regresion_logistica_conceptual Original.ipynb
regresion_logistica_practica copy.ipynb
regresion_logistica_practica_01.ipynb
